# **1. Perkenalan Dataset**

Dataset yang digunakan pada proyek ini adalah Adult Income Dataset (juga dikenal sebagai Census Income Dataset). Dataset ini berisi data sensus penduduk Amerika Serikat yang bertujuan untuk memprediksi apakah pendapatan seseorang lebih dari 50 ribu dolar per tahun (>50K) atau kurang/sama dengan 50 ribu dolar per tahun (≤50K) berdasarkan berbagai atribut demografis dan pekerjaan. Dataset ini diperoleh dari UCI Machine Learning Repository dan juga tersedia secara publik melalui platform Kaggle.

# **2. Import Library**

Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning atau deep learning.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip -q install mlflow dagshub scipy matplotlib scikit-learn pandas numpy

import os
import numpy as np
import pandas as pd

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

from scipy.sparse import csr_matrix

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.1/40.1 kB 3.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 59.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 58.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 75.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 261.3/261.3 kB 27.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.8/147.8 kB 16.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.9/114.9 kB 12.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.0/85.0 kB 9.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.9/76.9 kB 8.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.6/140.6 kB 13.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.6/14.6 MB 127.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 774.7/774.7 kB 51.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.3/207.3 kB 20.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.0/51.0 kB 5.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 8.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 9.9 MB/s eta 0:00:00

# **3. Memuat Dataset**

Pada tahap ini, Anda perlu memuat dataset ke dalam notebook. Jika dataset dalam format CSV, Anda bisa menggunakan pustaka pandas untuk membacanya. Pastikan untuk mengecek beberapa baris awal dataset untuk memahami strukturnya dan memastikan data telah dimuat dengan benar.

Jika dataset berada di Google Drive, pastikan Anda menghubungkan Google Drive ke Colab terlebih dahulu. Setelah dataset berhasil dimuat, langkah berikutnya adalah memeriksa kesesuaian data dan siap untuk dianalisis lebih lanjut.

Jika dataset berupa unstructured data, silakan sesuaikan dengan format seperti kelas Machine Learning Pengembangan atau Machine Learning Terapan

In [3]:
BASE_DIR = "/content/drive/MyDrive/Eksperimen_SML_Kirei"
DATA_PATH = f"{BASE_DIR}/adult_income_raw/adult.data"

print("Cek file ada?", os.path.exists(DATA_PATH), DATA_PATH)
# kalau False -> berarti file belum ada di folder itu / namanya beda

columns = [
    "age", "workclass", "fnlwgt", "education", "education_num",
    "marital_status", "occupation", "relationship", "race", "sex",
    "capital_gain", "capital_loss", "hours_per_week", "native_country",
    "income"
]

# 2) Load dataset
df = pd.read_csv(
    DATA_PATH,
    header=None,
    names=columns,
    sep=",",
    skipinitialspace=True
)

display(df.head())
print("Shape:", df.shape)

Cek file ada? True /content/drive/MyDrive/Eksperimen_SML_Kirei/adult_income_raw/adult.data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Shape: (32561, 15)

# **4. Exploratory Data Analysis (EDA)**

Pada tahap ini, Anda akan melakukan **Exploratory Data Analysis (EDA)** untuk memahami karakteristik dataset.

Tujuan dari EDA adalah untuk memperoleh wawasan awal yang mendalam mengenai data dan menentukan langkah selanjutnya dalam analisis atau pemodelan.

In [4]:
df.shape

(32561, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,32561.0,NaN,NaN,NaN,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
workclass,32561,9,Private,22696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fnlwgt,32561.0,NaN,NaN,NaN,189778.366512,105549.977697,12285.0,117827.0,178356.0,237051.0,1484705.0
education,32561,16,HS-grad,10501,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education_num,32561.0,NaN,NaN,NaN,10.080679,2.57272,1.0,9.0,10.0,12.0,16.0
marital_status,32561,7,Married-civ-spouse,14976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occupation,32561,15,Prof-specialty,4140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
relationship,32561,6,Husband,13193,NaN,NaN,NaN,NaN,NaN,NaN,NaN
race,32561,5,White,27816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,32561,2,Male,21790,NaN,NaN,NaN,NaN,NaN,NaN,NaN
capital_gain,32561.0,NaN,NaN,NaN,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital_loss,32561.0,NaN,NaN,NaN,87.30383,402.960219,0.0,0.0,0.0,0.0,4356.0
hours_per_week,32561.0,NaN,NaN,NaN,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0
native_country,32561,42,United-States,29170,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income,32561,2,<=50K,24720,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Cek Missing Values
(df == "?").sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

In [8]:
# Distribusi Target
df["income"].value_counts()

income
<=50K    24720
>50K      7841
Name: count, dtype: int64

# **5. Data Preprocessing**

Pada tahap ini, data preprocessing adalah langkah penting untuk memastikan kualitas data sebelum digunakan dalam model machine learning.

Jika Anda menggunakan data teks, data mentah sering kali mengandung nilai kosong, duplikasi, atau rentang nilai yang tidak konsisten, yang dapat memengaruhi kinerja model. Oleh karena itu, proses ini bertujuan untuk membersihkan dan mempersiapkan data agar analisis berjalan optimal.

Berikut adalah tahapan-tahapan yang bisa dilakukan, tetapi **tidak terbatas** pada:
1. Menghapus atau Menangani Data Kosong (Missing Values)
2. Menghapus Data Duplikat
3. Normalisasi atau Standarisasi Fitur
4. Deteksi dan Penanganan Outlier
5. Encoding Data Kategorikal
6. Binning (Pengelompokan Data)

Cukup sesuaikan dengan karakteristik data yang kamu gunakan yah. Khususnya ketika kami menggunakan data tidak terstruktur.

In [9]:
# Mengganti karakter "?" menjadi NaN
df = df.replace("?", np.nan)

# Cek ulang missing values
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

In [10]:
# Cek jumlah data duplikat
df.duplicated().sum()

np.int64(24)

In [11]:
# Menghapus data duplikat (jika ada)
df = df.drop_duplicates()

In [12]:
# Memisahkan fitur dan target
X = df.drop(columns=["income"])
y = df["income"]

X.shape, y.shape

((32537, 14), (32537,))

In [13]:
# Mengidentifikasi Fitur Numerik & Kategorikal
num_cols = X.select_dtypes(include=["int64", "float64"]).columns
cat_cols = X.select_dtypes(include=["object"]).columns

num_cols, cat_cols

(Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
        'hours_per_week'],
       dtype='object'),
 Index(['workclass', 'education', 'marital_status', 'occupation',
        'relationship', 'race', 'sex', 'native_country'],
       dtype='object'))

In [14]:
# Encoding dan Standarisasi
numeric_pipeline = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])

categorical_pipeline = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("encoder", OneHotEncoder(handle_unknown="ignore"))
])

preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_pipeline, num_cols),
        ("cat", categorical_pipeline, cat_cols)
    ]
)

In [15]:
# Split Data
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [16]:
# Transform data
X_train_prep = preprocessor.fit_transform(X_train)
X_test_prep = preprocessor.transform(X_test)

print("X_train_prep:", X_train_prep.shape, "X_test_prep:", X_test_prep.shape)

X_train_prep: (26029, 105) X_test_prep: (6508, 105)

In [17]:
SAVE_DIR = "/content/drive/MyDrive/Eksperimen_SML_Kirei/Membangun_model/adult_income_preprocessing"
os.makedirs(SAVE_DIR, exist_ok=True)

def save_csr_npz(path, X):
    X = X.tocsr()
    np.savez(path, data=X.data, indices=X.indices, indptr=X.indptr, shape=X.shape, format="csr")

save_csr_npz(f"{SAVE_DIR}/X_train.npz", X_train_prep)
save_csr_npz(f"{SAVE_DIR}/X_test.npz", X_test_prep)
np.save(f"{SAVE_DIR}/y_train.npy", y_train.to_numpy())
np.save(f"{SAVE_DIR}/y_test.npy", y_test.to_numpy())

print("Saved preprocessed dataset to:", SAVE_DIR)
!ls -lah {SAVE_DIR}

Saved preprocessed dataset to: /content/drive/MyDrive/Eksperimen_SML_Kirei/Membangun_model/adult_income_preprocessing
total 5.5M
-rw------- 1 root root 7.1K Dec 23 01:31 preprocessor.joblib
-rw------- 1 root root 1.1M Dec 23 13:13 X_test.npz
-rw------- 1 root root 4.3M Dec 23 13:13 X_train.npz
-rw------- 1 root root  14K Dec 23 13:13 y_test.npy
-rw------- 1 root root  52K Dec 23 13:13 y_train.npy

In [18]:
os.environ["MLFLOW_TRACKING_URI"] = "https://dagshub.com/kireihumaira004/eksperimen-sml-kirei.mlflow"
os.environ["MLFLOW_TRACKING_USERNAME"] = "kireihumaira004"
os.environ["MLFLOW_TRACKING_PASSWORD"] = "7fb119a5b30303bfb5787667c69ea87c875aedd4"
os.environ["MLFLOW_EXPERIMENT_NAME"] = "adult-income-advance"

print(os.environ["MLFLOW_TRACKING_URI"])

https://dagshub.com/kireihumaira004/eksperimen-sml-kirei.mlflow

In [19]:
%cd /content/drive/MyDrive/Eksperimen_SML_Kirei/Membangun_model
!python modelling.py
!python modelling_tuning.py

/content/drive/MyDrive/Eksperimen_SML_Kirei/Membangun_model
Test accuracy: 0.8567916410571604
Test f1: 0.6757132915796799
Logged artifacts: classification_report.txt, confusion_matrix.png, run_meta.json
🏃 View run logreg_adult_income_advance at: https://dagshub.com/kireihumaira004/eksperimen-sml-kirei.mlflow/#/experiments/0/runs/24b446f0bbbf400a88dff329c37ad6fe
🧪 View experiment at: https://dagshub.com/kireihumaira004/eksperimen-sml-kirei.mlflow/#/experiments/0
2025/12/23 13:14:17 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
Best params: {'C': 1, 'max_iter': 100}
CV best f1: 0.6511864016771759
Test accuracy: 0.8567916410571604
Test f1: 0.6757132915796799
🏃 View run logreg_tuning_advance at: https://dagshub.com/kireihumaira004/eksperimen-sml-kirei.mlflow/#/experiments/0/runs/110a539d37564fb199e633ab50ccbb0e
🧪 View experiment at: https://dagshub.com/kireihumaira004/eksperimen-sml-kirei.mlflow/#/experiments/0